<!-- ABOUT US SECTION -->
<section id="about-us" class="bg-light text-muted py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/IMG_7646.JPG" alt="aboutUs" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <div class="p-4 align-self-start">
                    <p>
                        Manaslu International Services (MIS) is one of the leading exporter, manpower consultant and recruitment agencies in Nepal.
                        As per the demand of our clients we search, select, train and supply various skill level workforce
                        into their best place of work efficiency. Mostly to the government permitted countries of Middle
                        East and Malaysia, we are showing notable presence of over 15,000 promises delivered in our 16
                        years of business. MIS is a registered company approved by Ministry of Labor, Govt. of Nepal
                        under the license no. 151/056/057. This registration allows us to meet the manpower need of our
                        clients by offering some of best talents from Nepal. We have a glorious history of recruiting
                        thousands of management professionals, technical and non-technical personnel, skilled, semi-skilled
                        and unskilled workers. We value our clients for trusting us with reputed business opportunities.
                        We are a specialized team of qualified, experienced and professional personnel. Through much
                        strategic and inventive recruitment processes, we discover great ones from among best candidates
                        and timely deploy them into right job by identifying their right abilities. Leveraging on huge
                        industry network, we dare to meet staffing need within short time frame. At MIS, we use all necessary
                        ideologies and infrastructures to find best workforce from global talent pool. We believe actions
                        speak louder than words. And, we are committed on our responsibility.
                    </p>
                </div>
                <!-- p-4 -->
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#chairmanModal">Message from Chairman</button>
            </div>
            <!-- col-md-6 -->
            <!-- Message From Chairman Modal -->
            <div id="chairmanModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h3 class="text-primary text-center">Message From Chairman</h3> -->
                        </div>
                        <!--modal-header -->
                        <div class="modal-body">
                            <div class="row">
                                <p>“Manaslu International Service”- (MIS) is one of preeminent exporter and manpower consultants
                                    based in Nepal. We are a government approved Manpower Agency License No. 151/056/057,
                                    established in 1999. Since our establishment we have become a successful and leading
                                    overseas workforce developer in the country. It is globally accepted that Nepalese
                                    workforce are some of most hospitable, technical and intellectual ones. The entire
                                    human resource world is keeping interest over their hard working and adaptive strengths.
                                    And our role begins when it comes to outsource them. As per demand we do recruit
                                    people, train them, build-up skills and deploy them to right place thereby result
                                    most efficient outcomes. Whether our applicants are experienced foreign workers or
                                    first time candidate, we ensure their availability on most competitive pay scales.
                                    We hereby propose to provide every aspect of manpower need in most efficient and
                                    responsible manner. Finally, I believe that this profile would ascertain better understanding
                                    about our organization, working strategies and strengths. It is my humble declaration
                                    that our commitments remain undeterred as we grow up and expand in the days to come.
                                    “Quality and timely service is our efficiency”
                                    <br> Bal Krishna Shrestha
                                    <br> Chairman, CEO
                                </p>
                            </div>
                            <!-- row -->
                        </div>
                        <!-- modal-body -->
                    </div>
                    <!-- modal-content -->
                </div>
                <!-- modal-dialog -->
            </div>
            <!-- end .chairmanModal -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- about-us -->
