 <!-- MAIN FOOTER -->
 <footer id="main-footer" class="overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-part">
                <div class="col text-center">
                    <div class="text-left">
                        <h1 class="h3">
                            <u>Contact Info</u>:</h1>
                        <i class="fa fa-map-marker"></i> : Dhumbarahi Height-04, Kathmandu
                        <br>
                        <i class="fa fa-phone"></i> : +977-01-4425081, 4425082</h2>
                        <br>
                        <i class="fa fa-envelope"></i> :
                        <a href="mailto:info@manasluint.com">info@manasluint.com</a>
                        /
                        <a href="mailto:info@gpgnepal.com">info@gpgnepal.com</a>
                        <p> &copy; 2018 Manaslu International Services.
                            <a href="https://www.manasluint.com">
                            </a> All Rights Reserved.</p>
                        <!-- <p>Developed & Maintained By:
                            <a href="https://www.manasluint.com">
                                <span class="footer-text"> Manaslu International Services</span>
                            </a>
                        </p> -->
                    </div>
                    <!-- text-left -->
                </div>
                <!-- col text-center -->
            </div>
            <div class="col-md-6 right-part">
                <div class="row">
                    <div class="text-primary pull-right">
                        <h1 class="h3 text-center">
                            <u> Contact Map</u>:</h1>
                        <div class="map-section1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8399.831070524982!2d85.33983770795861!3d27.726735242520217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19681b400df1%3A0x6413bac736ff253a!2sManaslu+International+Services+Pvt.+Ltd.!5e0!3m2!1sen!2snp!4v1517553115767"
                                width="400" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- map-section1 -->
                    </div>
                    <!-- text-right -->
                </div>
                <!-- row -->
            </div>
            <!-- col-md-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</footer>
<!-- end .mainfooter -->
<div class="clear"></div>
    <div id="bottom-footer" class="container">
        <!-- <div class="col-md-6">
            <div class="row">
                <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
            </div> -->
        <!-- </div> -->
        <div class="row">
            <div class="col-md-12">
                <a href="https://www.facebook.com/gpgnepal" class="fa fa-facebook" data-toggle="tooltip" data-placement="top" title="Connect with us: gpgnepal"></a>
                <a href="https://login.skype.com" class="fa fa-skype" data-toggle="tooltip" data-placement="top" title="Our skype id: gpg.manaslu"></a>
                <a href="https://plus.google.com/people" class="fa fa-google-plus"></a>
                <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- bottom-footer -->