<!-- HOME SECTION -->
<header id="home-section">
    <div class="light-overlay overflow-hidden">
        <div class="home-inner overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="text-primary text-center">
                            <span>
                                Local
                                <strong> Skill</strong>. Global
                                <strong>Exposure</strong>.
                            </span>
                        </h1>
                    </div>
                    <!-- col-lg-8 -->
                </div>
                <!-- row -->

                <div class="col-md-6">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#welcomeModal">Welcome Message</button>
                </div>
                <!-- col-md-6 -->
                <!-- Welcome Message -->
                <div id="welcomeModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <!-- <h3 class="text-primary text-center">Welcome Message</h3> -->
                            </div>
                            <!--modal-header -->
                            <div class="modal-body">
                                <div class="row">
                                    <p>Manaslu International Services is one of the renowned foreign employment recruitment
                                        company of Nepal. Manaslu International Services is registered under the Ministry
                                        of Labour, Government of Nepal. It supplies human resources to different countries
                                        of the world that are legally permitted by the Government of Nepal for foreign employment.
                                        Manaslu International Services believe on honest, hard-working, experienced workforce.
                                        We have gained trust and goodwill from our valued clients. Manaslu International
                                        Services provides the perfect blend of quality human resource and client satisfaction.
                                    </p>

                                </div>
                                <!-- row -->
                            </div>
                            <!-- modal-body -->
                        </div>
                        <!-- modal-content -->
                    </div>
                    <!-- modal-dialog -->
                </div>
                <!-- end .welcomeModal -->