 <!-- SLIDER SECTION -->
 <section id="slider" class="bg-light text-muted py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <h1 class="h1"> Our Business Associates</h1>
        </div>
        <!-- row -->
        <section class="customer-logos slider">
            <h1></h1>
            <div class="slide">
                <img src="images/dunkindonuts.png" alt="DunkinDonuts">
            </div>
            <div class="slide">
                <img src="images/PappaRoti.jpg" alt="PappaRoti">
            </div>
            <div class="slide">
                <img src="images/othaim.png" alt="Othaim">
            </div>
            <div class="slide">
                <img src="images/MAB.png" alt="MAB">
            </div>
            <div class="slide">
                <img src="images/sisco.png" alt="SISCO">
            </div>
            <div class="slide">
                <img src="images/subway.png" alt="SubWay">
            </div>
            <div class="slide">
                <img src="images/srGroup.png" alt="SRGroup">
            </div>
            <div class="slide">
                <img src="images/airKings.png" alt="AirKings">
            </div>
            <div class="slide">
                <img src="images/javatimes.jpg" alt="JavaTimes">
            </div>
            <div class="slide">
                <img src="" alt="">
            </div>
        </section>
        <!-- customer-logos -->
    </div>
    <!-- container -->
</section>
<!--slider -->