<!-- MISSION-VISION SECTION -->
<section id="mission-vision" class="bg-light text-muted py-5 overflow-hidden">
        <div class="container">
            <div class="process-title">
                <!-- <h1 class="text-center">Mission & Vision</h1> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-4 align-self-start">
                        <h3 class="process-title text-primary text-center">
                            Mission</h3>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-hand-o-right"></i>
                            </div>
                            <div class="p-4 align-self-end text">
                                To be a trusted HR recruitment partner thereby providing high quality innovative services to both our clients and candidates.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-hand-o-right"></i>
                            </div>
                            <div class="p-4 align-self-end text">
                                To place right man on the right job thereby providing maximum output to the employer and maximum skill upgradation to the
                                employee.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-4 align-self-start">
                        <h3 class="process-title text-primary text-center"> Vision</h3>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-hand-o-right"></i>
                            </div>
                            <div class="p-4 align-self-end text">
                                To become the most sought-after manpower consultancy across the globe with our excellent and timely services.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-hand-o-right"></i>
                            </div>
                            <div class="p-4 align-self-end text">
                                To seek an ethical business relationship with our Employer and Jobseeker providing them an extreme professional satisfaction.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>