<!--  views/partials/navbar.ejs --> 
<!-- NAV SECTION -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Manaslu Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" data-trigger="focus">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="awards.html">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="testimonials.html">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mission-vision-section">Current Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- collapse -->
    </div>
    <!-- container -->
</nav>
<!-- navbar -->