<link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.theme.default.css">

<div class="owl-carousel owl-theme">
    <div class="item"><img src="images/PappaRoti.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/javatimes.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/dunkindonuts.png" alt="Owl Image"></div>
    <div class="item"><img src="images/othaim.png" alt="Owl Image"></div>
    <div class="item"><img src="images/MAB.png" alt="Owl Image"></div>
    <div class="item"><img src="images/srGroup.png" alt="Owl Image"></div>
    <div class="item"><img src="images/sisco.png" alt="Owl Image"></div>
    <div class="item"><img src="images/subway.png" alt="Owl Image"></div>
</div>

<style>
    .item{
        margin: 3px;
    }
    .item img{
        display: block;
        width: 10%;
        height: auto;
    }
</style>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000
        });
    });
</script>
