<!-- RECRUITMENT-PROCESS SECTION -->
<section id="recruitment-process" class="overflow-hidden">
        <div class="container">
            <div class="process-title">
                <h1 class="text-center">Recruitment Process</h1>
            </div>
            <div class="row">
                <p>"The recruitment process of MIS is some of most competitive and innovative. Once there is staffing demand
                    from our clients, we go through below orderly process."</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="progressbar">
                        <li class="active">Demand Received</li>
                        <li>Short listing</li>
                        <li>Selection</li>
                        <li>Documentation</li>
                        <li>Skill up-gradation</li>
                        <li>Dispatch</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>