<!-- SERVICES SECTION -->
<section id="services" class="py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-4 align-self-start">
                    <p>
                        We, MIS provide totally professional, highly targeted and result oriented services to both our clients and jobseekers. By
                        attracting candidates from across the country on a fair learning environment, we supply some
                        of best talents to the staffing industry. Some of our key services are: Apply some of innovative
                        technologies in searching, recruiting and screening candidates according to our client’s demands
                        Recruitment services by well qualified and trained professionals We do timely and right job placement
                        by recognizing their right strength We focus on recruiting manpower on several fields like mechanical,
                        electrical and electronic engineer, education, hospitality, construction field and etc. Extract
                        great Nepalese talents and intellectuals from among the best ones.

                    </p>
                </div>
                <!-- p-4 -->
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6">
                <img src="../images/services.jpeg" alt="services" class="img-fluid mb-3 rounded-circle">
            </div>
            <!-- col-md-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- services -->