<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    
    <% include ../partials/navbar %>

    <style>
        body{
            padding: 100px 20px 20px 20px;
        }
    </style>

    <% include ../partials/about %>

    <% include ../partials/services %>

    <!-- <% include ../partials/owlCarousel %> -->

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>