<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    
    <% include ../partials/navbar %>

    <div class="form-style-10">
        <h1>Contact us!
            <span>Your information will be kept confidential and never be shared with anyone.</span>
        </h1>
        <form action="">
            <div class="section">
                <span>1</span>First Name &amp; Address</div>
            <div class="inner-wrap">
                <label for="">Your Full Name
                    <input type="text" name="field1" required/>
                </label>
                <label for="">Address
                    <textarea name="field2" id="" cols="30" rows="10"></textarea>
                    </Address>
                </label>
            </div>

            <div class="section">
                <span>2</span>Email &amp; Phone</div>
            <div class="inner-class">
                <label for="">Email Address
                    <input type="email" name="field3" required/>
                </label>
                <label for="">Phone Number
                    <input type="text" name="field4" required/>
                </label>
            </div>

            <div class="button-section">
                <input type="submit" name="Send" />
                <span class="privacy-policy">
                    <input type="checkbox" name="field7">You agree to our Terms and Policy.
                </span>
            </div>
        </form>
    </div>
  

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>