<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>

    <% include ../partials/navbar %>
        <p>
            <div class="container">
                <div class="row"></div>
            </div>
        </p>
        <p>
            <div class="container">
                <div class="row"></div>
            </div>
        </p>
        <p>
            <div class="container">
                <div class="row"></div>
            </div>
        </p>
        <p>
            <div class="container">
                <div class="row"></div>
            </div>
        </p>
        
        <div class="form-style-10">
            <h1>Send us a message!
                <span>Your information will be kept confidential and never be shared with anyone</span>
            </h1>
            <form action="">
                <div class="section">
                    <span>1</span>First Name &amp; Address</div>
                <div class="inner-wrap">
                    <label for="">Your Full Name
                        <br>
                        <input type="text" name="field1" />
                    </label>
                    <br>
                    <label for="">Address
                        <br>
                        <textarea name="field2" id="" cols="30" rows="10"></textarea>
                        </Address>
                    </label>
                </div>

                <div class="section">
                    <span>2</span>Email &amp; Contact</div>
                <div class="inner-class">
                    <label for="">Email Address
                        <br>
                        <input type="email" name="field3" />
                    </label>
                    <br>
                    <label for="">Contact Number
                        <br>
                        <input type="text" name="field4" />
                    </label>
                </div>

                <div class="section">
                    <span>3</span>Message</div>
                <div class="inner-wrap">
                    <label for="">Message
                        <br>
                        <textarea name="field5" id="" cols="50" rows="20" ></textarea>
                    </label>
                </div>
        </div>
        <div class="button-section">
            <input type="submit" name="Send" value="Send" />
            <span class="privacy-policy">
                <input type="checkbox" name="field7">You agree to our Terms and Policy.
            </span>
        </div>
        </form>
        </div>


        <% include ../partials/footer %>

            <% include ../partials/scripts %>
</body>

</html>