<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    <div class="container">
        <div class="row">
                <% include ../partials/navbar %>
        </div>
    </div>
    
                <% include ../partials/home %>

                <% include ../partials/mission-vision %>

                <% include ../partials/recruitment %>

                <% include ../partials/logoslider %>
    
                <% include ../partials/footer %>
    
    <% include ../partials/scripts %>
</body>
</html>