<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    <div class="container">
        <div class="row">
                <% include ../partials/navbar %>
        </div>
    </div>
    
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
                <% include ../partials/home %>
        <!-- </div> -->
    <!-- </div> -->
                <% include ../partials/mission-vision %>

                <% include ../partials/recruitment %>

                <% include ../partials/logoslider %>
    
                <% include ../partials/footer %>
    
    <% include ../partials/scripts %>
</body>
</html>