<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    
    <% include ../partials/navbar %>
    <style>
        body{
            padding: 100px 20px 20px 20px;
        }
    </style>

    <div class="container">
        <div class="row">
            <h2 class="text-primary text-center">What our satisfied clients have to say about us!</h2>
        </div>
    </div>
    <div class="jumbotron business-associates">
        <img src="images/bman1.jpeg" class="img-responsive rounded-circle" alt="associates" >
        <p>I have found Manaslu to be the one of the best recruitment agencies from Nepal.
            Workforce delivered by Manaslu are very efficient, well-prepared and obedient.
            I am very satisfied with the service provided by Manaslu and will continue
            to work with them for fulfilling our future demands.
        <br>
        Mr. John Doe
        <br>
        President, DD, K.S.A.
    </p>
        
    </div>
    <hr>
    <div class="jumbotron workforce">
            <img src="images/worker1.jpeg" class="img-responsive rounded-circle" alt="workforce" >
            <p>I was looking for a well paying job. But I did not have a higher education qualification
                and training. My dream of earning more money became reality thanks due to Manaslu. They
                provided free interview preparation classes which helped me to land on high paying job
                at DD, K.S.A. I am happy with the working condition and payscale provided by DD. Once again
                a big thanks to Manaslu for providing opportunity to lead my dream career.  
            <br>
            Miss. Beth Smith
            <br>
            Service-crew, DD, K.S.A.
        </p>
            
        </div>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>