<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    
    <% include ../partials/navbar %>
    <style>
        body{
            padding: 100px 20px 20px 20px;
        }
    </style>

    <div class="container">
        <div class="row">
            <h2 class="text-primary text-center">What our satisfied clients have to say about us!</h2>
        </div>
    </div>

    <!-- Carousel for business associates -->
    <div id="myCarouselbusiness" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouselbusiness" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouselbusiness" data-slide-to="1"></li>
            <li data-target="#myCarouselbusiness" data-slide-to="2"></li>
            <li data-target="#myCarouselbusiness" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="jumbotron business-associates">
                    <img src="images/bman1.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I have found Manaslu to be the one of the best recruitment agencies from Nepal.
                        Workforce delivered by Manaslu are very efficient, well-prepared and obedient.
                        I am very satisfied with the service provided by Manaslu and will continue
                        to work with them for fulfilling our future demands.
                    <br>
                    Mr. John Doe
                    <br>
                    President, DD, K.S.A.
                </p>    
                </div>            
            </div>

            <div class="carousel-item">
                <div class="jumbotron business-associates">
                    <img src="images/bman2.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I have found Manaslu to be the one of the best recruitment agencies from Nepal.
                        Workforce delivered by Manaslu are very efficient, well-prepared and obedient.
                        I am very satisfied with the service provided by Manaslu and will continue
                        to work with them for fulfilling our future demands.
                    <br>
                    Mr. Jeff Smith
                    <br>
                    President, PappaRoti, K.S.A.
                </p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="jumbotron business-associates">
                    <img src="images/bman3.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I have found Manaslu to be the one of the best recruitment agencies from Nepal.
                        Workforce delivered by Manaslu are very efficient, well-prepared and obedient.
                        I am very satisfied with the service provided by Manaslu and will continue
                        to work with them for fulfilling our future demands.
                    <br>
                    Mr. Jeb Jacobs
                    <br>
                    President, Al Othaim, K.S.A.
                </p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="jumbotron business-associates">
                    <img src="images/bman4.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I have found Manaslu to be the one of the best recruitment agencies from Nepal.
                        Workforce delivered by Manaslu are very efficient, well-prepared and obedient.
                        I am very satisfied with the service provided by Manaslu and will continue
                        to work with them for fulfilling our future demands.
                    <br>
                    Mr. Bill Cosby
                    <br>
                    President, Catract, K.S.A.
                </p>
                </div>
            </div>
        </div><!-- carousel-inner -->

        <!-- Left and right controls -->
        <a href="#myCarouselbusiness" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarouselbusiness" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- myCarouselbusiness -->

    <hr>

    <!-- Carousel for workforce -->
    <div id="myCarouselworkforce" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouselworkforce" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouselworkforce" data-slide-to="1"></li>
            <li data-target="#myCarouselworkforce" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="jumbotron workforce">
                    <img src="images/worker1.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I was looking for a well paying job. But I did not have a higher education qualification
                        and training. My dream of earning more money became reality thanks due to Manaslu. They
                        provided free interview preparation classes which helped me to land on high paying job
                        at DD, K.S.A. I am happy with the working condition and payscale provided by DD. Once again
                        a big thanks to Manaslu for providing opportunity to lead my dream career.  
                    <br>
                    Miss. Beth Smith
                    <br>
                    Service-crew, DD, K.S.A.
                </p>
        
                </div>            
            </div>

            <div class="carousel-item">
                <div class="jumbotron business-associates">
                    <img src="images/worker2.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I was looking for a well paying job. But I did not have a higher education qualification
                        and training. My dream of earning more money became reality thanks due to Manaslu. They
                        provided free interview preparation classes which helped me to land on high paying job
                        at DD, K.S.A. I am happy with the working condition and payscale provided by DD. Once again
                        a big thanks to Manaslu for providing opportunity to lead my dream career.  
                    <br>
                    Miss. Beth Smith
                    <br>
                    Service-crew, DD, K.S.A.
                </p>
        
                </div>
            </div>

            <div class="carousel-item">
                <div class="jumbotron business-associates">
                    <img src="images/worker3.jpeg" class="img-responsive rounded-circle" alt="associates" >
                    <p>I was looking for a well paying job. But I did not have a higher education qualification
                        and training. My dream of earning more money became reality thanks due to Manaslu. They
                        provided free interview preparation classes which helped me to land on high paying job
                        at DD, K.S.A. I am happy with the working condition and payscale provided by DD. Once again
                        a big thanks to Manaslu for providing opportunity to lead my dream career.  
                    <br>
                    Miss. Beth Smith
                    <br>
                    Service-crew, DD, K.S.A.
                </p>
        
                </div>
            </div>

        </div><!-- carousel-inner -->

        <!-- Left and right controls -->
        <a href="#myCarouselworkforce" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarouselworkforce" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- myCarouselworkforce -->


    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>