<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    
    <% include ../partials/navbar %>

    <div class="container clients-testimonials">
        <img src="images/services.jpeg" alt="" >
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut consectetur omnis quam esse nam maiores nihil? Fuga quas mollitia itaque dicta rerum saepe iure, ipsum, sint repellat, sit modi fugiat?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam ipsa asperiores dolores itaque totam, nobis consequuntur recusandae ut dignissimos delectus sapiente eius aspernatur ipsam corporis! Explicabo fuga libero blanditiis!</p>
    </div>
    <hr>
    <div class="container local-clients-testimonials">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quibusdam, molestiae nemo, aliquam at adipisci laborum iure voluptates amet eum distinctio voluptatum dolorem ut explicabo, quos repudiandae atque officiis pariatur?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse similique nulla veritatis sint iure, illo error laborum inventore neque voluptates a repellat iusto voluptatibus omnis distinctio, ab mollitia tempore aspernatur?</p>
    </div>

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>